.{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container-height {
    height: 500px;
}

.content {
    height: 75vh;
}

.name {
    font-size: 90px;
    font-family: fantasy;
}

.profession {
    font-size: 20px;
    margin-top: 10px;
}

body {
    overflow: hidden;
 
}

.girl {
    width: 200px;
    clip-path:circle();
    justify-content: center;
    align-items: center;
}

.quote {
    position:relative;
    font-size: 50;
    font-weight: bold;
    font-style:italic;
    color:black;
    text-align: justify;
    text-align: center;
    
}

.card-img-top {
    width: 10%;
    height: 10%;
}

.card-header {
    justify-content: center;
    color:aliceblue;
}

.center {
    line-height: 100px;
    height: 100px;
    border: 1px solid rgb(20, 22, 20);
    text-align: center;

}

body {
    overflow: hidden;
}
